<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AccessoDatos.Properties.Settings.StringConnection_DB_NicaPOS"
            connectionString="Data Source=DESKTOP-G9RNENF\SQLEXPRESS;Initial Catalog=DB_NicaPOS;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>